{% extends 'base.html' %}

{% block content %}

<div style="margin-top: 120px; max-width: 700px;" class="form">
	<h1>No of Services Provided by each SMB</h1>
    <canvas id="myChart" width="600" height="400"></canvas>
</div>

<div style="max-width: 700px;" class="form">
	<h1>Types of Users</h1>
    <canvas id="myChart1" width="600" height="400"></canvas>
</div>

<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>
  	$(document).ready(function()
  	{
        $.ajax({
          	url: "/analytics1",
          	type: "get",
          	success: function(response){
          		// Chart.defaults.global.responsive = false;
          		Chart.defaults.global.defaultFontColor='#a0b3b0';
          		Chart.defaults.global.defaultFontSize=20;
			  	var chartData = {
			    labels : response['labels'],
			    datasets : [{
			        label: response['legend'],
			        fill: true,
			        lineTension: 0.1,
			        backgroundColor: "rgba(75,192,192,0.4)",
			        borderColor: "rgba(75,192,192,1)",
			        borderCapStyle: 'butt',
			        borderDash: [],
			        borderDashOffset: 0.0,
			        borderJoinStyle: 'miter',
			        pointBorderColor: "rgba(75,192,192,1)",
			        pointBackgroundColor: "#fff",
			        pointBorderWidth: 1,
			        pointHoverRadius: 5,
			        pointHoverBackgroundColor: "rgba(75,192,192,1)",
			        pointHoverBorderColor: "rgba(220,220,220,1)",
			        pointHoverBorderWidth: 2,
			        pointRadius: 1,
			        pointHitRadius: 10,
			        data : response['values'],
			        spanGaps: false
			    	}]
			  	};
			  	var ctx = document.getElementById("myChart").getContext("2d");
			  	var myChart = new Chart(ctx, {
			    	type: 'bar',
			    	data: chartData,
			    	options: {
			                reponsive: true,
			                scales: {
			                    yAxes: [{
			                        ticks: {
			                            beginAtZero:true,
			                            stepSize: 1,
			                            // fontSize: 20,
			                        }
			                    }],
			                    xAxes: [{
			                    	ticks: {
			                    		// fontSize: 20
			                    	}
			                    }]
			                }
			            },
			  	});
          	},
          	error: function(error_data){
            	console.log(error_data)
          	}
        });
        $.ajax({
          	url: "/analytics2",
          	type: "get",
          	success: function(response){
          		// Chart.defaults.global.responsive = false;
          		Chart.defaults.global.defaultFontColor='#a0b3b0';
          		Chart.defaults.global.defaultFontSize=20;
			  	var chartData = {
			    labels : response['labels'],
			    datasets : [{
			        // label: response['legend'],
			        fill: true,
			        lineTension: 0.1,
			        backgroundColor: "rgba(75,192,192,0.4)",
			        borderColor: "rgba(75,192,192,1)",
			        borderCapStyle: 'butt',
			        borderDash: [],
			        borderDashOffset: 0.0,
			        borderJoinStyle: 'miter',
			        pointBorderColor: "rgba(75,192,192,1)",
			        pointBackgroundColor: "#fff",
			        pointBorderWidth: 1,
			        pointHoverRadius: 5,
			        pointHoverBackgroundColor: "rgba(75,192,192,1)",
			        pointHoverBorderColor: "rgba(220,220,220,1)",
			        pointHoverBorderWidth: 2,
			        pointRadius: 1,
			        pointHitRadius: 10,
			        data : response['values'],
			        spanGaps: false,
			        backgroundColor : ["#46BFBD", "#ABCDEF"]
			    	}],
			  	};
			  	var ctx = document.getElementById("myChart1").getContext("2d");
			  	var myChart = new Chart(ctx, {
			    	type: 'pie',
			    	data: chartData,
			    	options : {
			    		responsive: true,
			    	}
			  	});
          	},
          	error: function(error_data){
            	console.log(error_data)
          	}
        });
    });
</script>

{% endblock %}